@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes clockwiseBorder {
    0% {
        border-color: transparent;
        transform: scale(1);
    }
    12.5% {
        border-top-color: rgb(57, 238, 21);
        transform: scale(1.02);
    }
    25% {
        border-top-color: transparent;
        border-right-color: rgb(57, 238, 21);
        transform: scale(1.02);
    }
    37.5% {
        border-right-color: transparent;
        border-bottom-color: rgb(57, 238, 21);
        transform: scale(1.04);
    }
    50% {
        border-bottom-color: transparent;
        border-left-color: rgb(57, 238, 21);
        transform: scale(1.06);
    }
    62.5% {
        border-left-color: transparent;
        border-top-color: rgb(57, 238, 21);
        transform: scale(1.04);
    }
    75% {
        border-top-color: rgb(57, 238, 21);
        border-right-color: rgb(57, 238, 21);
        border-bottom-color: rgb(57, 238, 21);
        border-left-color: rgb(57, 238, 21);
        transform: scale(1.08);
    }
    100% {
        border-color: rgb(57, 238, 21);
        transform: scale(1.1);
    }
}

.bar {
    position: relative; /* Ensure the bar is the position context */
    overflow: hidden; /* Prevent overflow from the border */
}

.border-animation {
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.75rem;
    pointer-events: none;
    transition: transform 0.5s ease, border-color 0.5s ease;
}

.skills .container .bar:hover .border-animation {
    animation: clockwiseBorder 3s ease forwards;
}


.vertical-timeline::before {
    /* this is the vertical line */
  
    background: #1E40AF !important;
  }


  /* styles/globals.css */
html {
  scroll-behavior: smooth;
}
